<ul class="options">
  <li class="option">
    <h3 class="option-title">Background Color</h3>
    <div class="box">
      <span *ngFor="let opt of colorbox" [id]="opt.colorId" (click)="changeBgColor(opt.colorId)">{{opt.color}}</span>
    </div>
  </li>
  <li class="option">
    <h3 class="option-title">Brightness</h3>
    <div class="brightness-box">
      <span class="material-symbols-outlined">brightness_low</span>
      <input type="range" name="brightness" id="range" min="10" max="100" [(ngModel)]="brightness" (change)="handleChangeBrightness()">
      <span class="material-symbols-outlined">brightness_high</span>
    </div>
  </li>
</ul>
